<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>keep-r</title>
</head>
<body>
    <div id="navbar">
        <a href="dsa">dsa</a>
        <button>cpp</button>
        <button>keep-r</button>
        <button>java</button>
        <button>python</button>
        <button>node js</button>
    </div>

    <div id="inputField">
        <input type="text" id="ourTitle" >
        <br/>
        <textarea name="makeNote" id="ourNote" cols="30" rows="10"></textarea>
        <button onclick=getData() >r</button>
        <br/>
          <input id="ourImage" type="file" accept="image/png, image/jpeg" >
        <select name="tags" id="tags">
            <option value="csharp">csharp</option>
            <option value="dsa">dsa</option>
            <option value="cpp">cpp</option>
            <option value="python">python</option>
        </select>

    </div>

    <div id="mainPage">

    </div>
{{!-- 
    <div>
        
        <div id="showImg">

        </div>
        <div id="showData">
        
        </div>
        <div id="tools">
            <button>cyan</button>
            <button>blue</button>
            <button>edit</button>
        </div>


    </div> --}}


    <script src="logic.js"></script>
</body>
</html>